{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bodyclass %}{{ block.super }} account-view{% endblock %}

{% block content %}
<!-- Creating a account -->
<div class="container-fluid">
    <div class="row">
        {% crispy form %}
    </div>
</div>

<!-- Listing transactions -->
<div class="container-fluid">
    <div class="row">
        <div class="accounts">
            {% for account in account_list %}
                <p>{{ account.name }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}