{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bodyclass %}{{ block.super }} transaction-view{% endblock %}

{% block content %}
<!-- Creating a transaction -->
<div class="container-fluid">
    <div class="row">
        {% crispy form %}
    </div>
</div>

<!-- Listing transactions -->
<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction_list %}
                <tr>
                    <td>{{ transaction.when }}</td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.amount }}</td>
                <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

