<header>
    <div class="branding">
        <a href="{% url 'home' %}">Casterly</a>
    </div>
    <nav class="navbar" role="navigation">
        <ul class="navbar__list">
            <li><a href="{% url 'dashboard_view' %}">Dashboard</a></li>
            <li><a href="{% url 'accounts_list' %}">Accounts</a></li>
            <li><a href="{% url 'compare_view' %}">Compare</a></li>
            <li><a href="{% url 'transactions_list' %}">Transactions</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </nav>
</header>