body {
    font-family: $font-family-base, serif;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $font-color-base;
    line-height: $line-height-base;
}



.container-fluid {
    max-width: $desktop-width;
    margin: $line-height-base/2 auto;
}

.container .jumbotron {
    border-radius: 0;
}

.jumbotron {
    padding: $line-height-base*4;
    border: 1px solid $gray-lighter;
    background-color: transparent;
    color: $gray;

    p {
        line-height: $line-height-base;
        margin: 0 0 $line-height-base;
    }
}

input.form-control, select.form-control {
    border-radius: 0;
}
label.control-label {
    font-weight: 400;
    color: $gray-dark;
}



@import "buttons";

@import "header";
@import "footer";