<!-- doctype html -->
{% load staticfiles %}

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Casterly</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <header class="navbar navbar-static-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{% url 'home' %}" class="navbar-brand">Casterly</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'dashboard_view' %}">Dashboard</a></li>
                        <li><a href="{% url 'accounts_list' %}">Accounts</a></li>
                        <li><a href="{% url 'compare_view' %}">Compare</a></li>
                        <li><a href="{% url 'transactions_list' %}">Transactions</a></li>
                    {% endif %}
                    <li><a href="#">About us</a></li>
                    {% if user.is_anonymous %}
                        <li><a href="{% url 'account_login' %}">Log in</a></li>
                        <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                    {% else %}
                        <li><a href="#">Log out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <section id="container" class="container">
        {% block content %}

        {% endblock %}
    </section>

    <!-- Scripts -->
    <script type="text/javascript" data-main="{% static 'js/config.js' %}"
        src="{% static 'js/libs/requirejs/require.js' %}">
    </script>
</body>
</html>
