{% extends "base.html" %}

{% block bodyclass %}{{ block.super }} index-view{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            {% if user.is_anonymous %}
                <p>Start managing your money with Casterly now!</p>
                <p><a
                    class="btn btn-primary btn-lg"
                    role="button" href="{% url 'account_login' %}">Log in
                    </a>
                    or
                    <a
                    class="btn btn-primary btn-lg"
                    role="button" href="{% url 'account_signup' %}">Sign up
                    </a>
                </p>
            {% else %}
                <p>Welcome! Start using Casterly by adding some transactions
                and see where your money goes</p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" href="#">
                        Transactions
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
