{% load account %}

<div class="container">
    <div class="row">
        <div>
            <img alt="casterly" src=""/>
            <small>Our clients always pays their debts</small>
        </div>
        <div>
            {% if user.is_anonymous %}
                <a href="{% url 'account_login' %}">Login</a>
                or
                <a href="{% url 'account_signup' %}">register here</a>
            {% else %}
                Hello, {{ user }}!
                <form action="{% url 'account_logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
