{% load account %}

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <img alt="casterly" src=""/>
            <small>Our clients always pays their debts</small>
        </div>
        <div class="col-xs-3">
            {% if user.is_anonymous %}
                <a href="/accounts/login">Login</a>
                or
                <a href="/accounts/signup">register here</a>
            {% else %}
                Hello, {{ user }}!
                <form action="/accounts/logout/" method="POST">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>