{% extends "base.html" %}

{% block bodyclass %}{{ block.super }} account-view{% endblock %}

{% block content %}

    <section class="section section--form">
        <header class="section__header">Create account</header>
        <div class="section__content">
        </div>
    </section>

    <section class="section section--list">
        <header class="section__header">Accounts</header>
        <div class="section__content">
            <ul class="list">
                {% for account in account_list %}
                    <li class="list__item"><p>{{ account.name }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}